  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Nicky Hughes Rails App 2013.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://nickyonrails.tumblr.com/" target='_blank'>Blog</a></li>
            <li><a href="http://nickyh.github.com/" target='_blank'>Portfolio</a></li>
            <li><a href="https://twitter.com/nichug00" target='_blank'>Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>