
      <!-- First Band (Slider) -->
  <!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->

<div id='loginform' class='hide'>
  show form
</div>

  <div class="row">
    <div class="12-large columns">
      <div id="slider">
        <img src="/assets/cheesecake8.jpg" />
     <!--    <img src="/assets/cheesecake9.jpg" />
        <img src="/assets/cheesecake6.jpeg" /> -->
      </div>

      <hr />
    </div>
  </div>

    <!-- End Content Slider -->

    <!-- Mobile Header -->

      <div class="row">
        <div class="twelve columns show-for-small">

          <img src="/assets/Cheesecake-mobile.jpg">

        </div>
      </div><br>

    <!-- End Mobile Header -->


      <div class="row">

            <div class="four mobile-two push-two-mobile columns">

              <h4>Recipezy makes it easy</h4>

                <div class="nine columns">
                  <h6 class="subheader show-for-small">Sort by</h6>
                </div>
              </div>

                    <h5 class="subheader narrow"><hr />
                      Recipezy is a place to store, edit, sort and find all your favorite recipes. You can contribute to the Recipezy community by adding your recipes, adding a cooking term and tutoral video to our glossary of terms, or by adding new ingredients and prices. Stay tuned for Version 2, soon to be released, which will allow you to get an accurate price and calorie count of your dish. <hr />
                      Cupcake ipsum dolor. Sit amet chocolate bear claw brownie candy canes jelly candy jelly. Chocolate bar faworki macaroon tootsie roll pie cheesecake tootsie roll marzipan. Sugar plum lemon drops cheesecake tootsie roll cheesecake jujubes pie. Cake icing fruitcake powder. Oat cake halvah icing marshmallow. Sweet jujubes tiramisu ice cream cotton candy fruitcake apple pie tart. Chocolate cake candy bear claw bonbon tiramisu tart. Cake pudding biscuit carrot cake oat cake.</h5>
                       <div class="homepageimagesmall">
              <img src="/assets/cheesecake7.jpg" />
            </div>
              </div>

            </div>
          </div>
        </div>
      </div>
