
        <div class="mynavbar span12">

            <div><a class="brand" href="/">MemeTube | </a><a href="/"> | Home | </a>
              <a href="/new"> | Add Video | </a>
              <a href="/clips"> | View All </a></div>
        </div>





